body {
    width: 50%;
    margin: 0 25%;
    font-family: 'Open Sans', sans-serif;
}
.content {
    width: 60%;
    margin: 0 20%;
}
li {
    list-style: none;
    margin-bottom: 8px;
}
.name {
    width: 80%;
    margin: auto;
}
a {
    color: #4A96AD;
    text-decoration: none;
}
ul {
    padding-left: 20px;
    margin-top: 0px;
    padding-top: 0px;
}
h2 {
    margin-bottom: 10px;
    padding-bottom: 0px;
}
a:hover {
    color: default;
    text-decoration: underline;
}
.extra {
    margin-top: 15px;
}
@media (max-width: 1300px) {
    .name {
        width: 80%;
        margin: auto;
    }
    body {
        width: 100%;
        margin: auto;
    }
    .content {
        width: 40%;
        margin: auto;
    }
    h2 { 
        font-size: 22px;
    }
}
@media (max-width: 900px) {
    .content {
        width: 60%;
    }
}
@media (max-width: 700px) {
    .content {
        width: 70%;
    }
}
@media (max-width: 600px) {
    .content {
        width: 90%;
    }
}